<!--
  The turtlebot people (or whatever) follower nodelet.
 -->
<launch>
  

  <param name="camera/rgb/image_color/compressed/jpeg_quality" value="22"/>


  <include file="$(find turtlebot_follower)/launch/includes/safety_controller.launch.xml"/>

  <!--  Real robot: Load turtlebot follower into the 3d sensors nodelet manager to avoid pointcloud serializing -->
  <!--  Simulation: Load turtlebot follower into nodelet manager for compatibility -->
  <node pkg="nodelet" type="nodelet" name="turtlebot_follower"
        args="load turtlebot_follower/TurtlebotFollower">
    <remap from="turtlebot_follower/cmd_vel" to="cmd_vel"/>
    <remap from="depth/points" to="points"/>
    <param name="enabled" value="false" />
    <param name="x_scale" value="7.0" />
    <param name="z_scale" value="2.0" />
    <param name="min_x" value="-0.35" />
    <param name="max_x" value="0.35" />
    <param name="min_y" value="0.1" />
    <param name="max_y" value="0.5" />
    <param name="max_z" value="1.2" />
    <param name="goal_z" value="0.6" />
  </node>
  <!-- Launch the script which will toggle turtlebot following on and off based on a joystick button. default: on -->
  <node name="switch" pkg="turtlebot_follower" type="switch.py"/>
</launch>
